.game {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  
}

.square {
  min-height: 10rem;
  min-width: 10rem;
  color: transparent;
}

.game-board {
  flex-grow: 80;
	align-self: stretch;
}

.game-info{
  flex-grow: 20;
	align-self: stretch;
}

.activeSquare {
  color: black;
}